@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "FiraSans";
    font-weight: 400;
    font-stretch: normal;
    src:
        url('../font/FiraSans-Regular.woff') format("woff"),
        url('../font/FiraSans-Regular.ttf') format("truetype");
}


body{
    font-family: "FiraSans", sans-serif;
    color: #3b3b3b;
}
section::after, ul::after{
    display: block;
    content: "";
    clear: both;
}
.gnb > ul li{
    text-transform: uppercase;
}

/* 레이아웃 */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
}
#util{
    width: 85%;
    height: 35px;
    background-color: cadetblue;

    position: relative;
    margin-left: 15%;
}

section{
    width: 85%;
    margin-left: 15%;
}

article{
    height: 260px;
    width: 20%;
    float: left;
}

.article1{
    width: 60%;
    height: 520px;
}
.article2{
    width: 40%;
}
.article6{
    width: 40%;
}
.article9{
    width: 40%;
}


.text{
    padding: 40px 30px;
    transition: 0.5s ease-in;
}
.text strong{
    font-size: 30px;
    display: block;
}
.text em{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 6px;
}
.text i{
    position: absolute;
    font-size: 260px;
    bottom: -50px;
    right: 0;

    color: #fff;

    transform: translate(200px);
    opacity: 0;
    transition: 0.3s ease-out;
}


.article3 i, .article5 i, .article11 i{
    transform: translate(0);
}
.article3 i{
    font-size: 150px;
    bottom: 20px;
    right: 40px;
}
.article5 i{
    font-size: 240px;
    bottom: -50px;
    right: -50px;
}
.article11 i{
    font-size: 150px;
    bottom: -15px;
    right: 20px;
}


article .text:hover i{
    transform: translate(0);
    opacity: 0.5;
}

.article2 .text:hover{
    background-color: rgb(146, 170, 201);
}
.article3 .text:hover{
    background-color: #81b9cc;
}
.article6 .text:hover{
    background-color: #9bb15e;
}
.article8 .text:hover{
    background-color: #41ad89;
}
.article11 .text:hover{
    background-color: #d3c866;
}





.bg span{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 60px;
    font-family: "Encode Sans Condensed", sans-serif;
    color: #fff;
    transform: scale(8);
    opacity: 0;
    transition: 0.5s ease-in;
}
.bg:hover span{
    transform: scale(1);
    opacity: 1;
}

.bg1 span{
    font-size: 120px;
    transform: scale(1);
    opacity: 1;
    bottom: -10px;
    right: 20px;
}
.bg1 span:hover{
    transform: rotateY(180deg);
    opacity: 0.5;
}


/******* header *******/
header h1{
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);

    width: calc(3vw + 130px);
    height: calc(3vw + 80px);
    background: url(../img/logo1.png) center / contain no-repeat;

    text-indent: -999px;
}

.gnb{
    position: absolute;
    top: 40vh;
    right: 50%;
    transform: translate(50%);
}
.gnb li{
    padding: 5px 0;
}
.gnb a{
    font-size: 18px;
}
.gnb i{
    margin-right: 6px;
}
.gnb a:hover{
    color: #111;
}

.sns{
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translate(50%);
}
.sns .txt{
    text-align: center;
}
.sns .txt a + a::before{
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #999;
    margin: 0 7px 0 5px;
}

/******* section *******/
article > div{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.article2{
    background-color: #cadaf0;
}
.article3{
    background-color: lightblue;
}
.article6{
    background-color: #c0d38d;
}
.article8{
    background-color: MediumAquamarine;
}
.article11{
    background-color: khaki;
}


.bg{
    background: center / cover;
}
.bg1{
    background-image: url("../img/pic1.jpg");
}
.bg4{
    background-image: url("../img/pic2.jpg");
}
.bg5{
    background-image: url("../img/pic3.jpg");
}
.bg7{
    background-image: url("../img/pic4.jpg");
}
.bg9{
    background-image: url("../img/pic5.jpg");
}
.bg10{
    background-image: url("../img/pic6.jpg");
}
.bg12{
    background-image: url("../img/pic7.jpg");
}


/******* #util *******/
#util a{
    color: #fff;
    font-family: "Encode Sans Condensed", sans-serif;
    font-size: 14px;
    line-height: 35px;
    padding: 0 10px;
}
#util > * {
    position: absolute;
}
#util .left{
    left: 10px;
}
#util .right{
    right: 10px;
}
#util i{
    font-size: 10px;
}
#util a:hover{
    color: #fff;
}





/******* 반응형 *******/


/* 1600px */
@media (max-width:1600px){      /* 좌측 헤더를 위로 */
    header{
        position: relative;
        width: 100%;
        height: 80px;
    }
    #util{
        width: 100%;
        margin-left: 0;
    }
    section{
        width: 100%;
        margin-left: 0;
    }

    header h1{
        top: 15px;
        left: 20px;
        transform: none;

        width: 250px;
        height: 50px;

        background: url(../img/logo2.png) center / contain no-repeat;
    }

    .gnb{
        top: 30px;
        right: 200px;
        transform: none;
    }
    .gnb li{
        float: left;
        padding: 0 14px;
    }

    .sns{
        bottom: 15px;
        right: 20px;
        transform: none;
    }
}

/* 1200px */
@media (max-width:1200px) {     /* section 4등분 */
    .gnb{
        right: 160px;
    }
    .gnb li{
        padding: 0 10px;
    }
    .gnb a{
        font-size: 16px;
    }

    article{    
        width: 25%;
    }

    .article1{
        width: 75%;
    }
    .article2{
        width: 25%;
    }
    .article6{
        width: 50%;
    }
    .article7{
        width: 50%;
    }
    .article9{
        width: 25%;
    }
    .article10{
        width: 50%;
    }
}



/* 1024px */
@media (max-width:1050px) {     /* section 3등분 */
    .gnb{
        right: 20px;
    }
    .gnb li{
        padding: 0 8px;
    }
    .sns{
        display: none;
    }

    article{
        width: 33.33%;
    }

    .article1{
        width: 100%;
    }
    .article2{
        width: 66.66%;
    }
    .article3{
        display: none;
    }
    .article6{
        width: 66.66%;
    }
    .article7{
        display: none;
    }
    .article9{
        width: 33.33%;
    }
    .article10{
        display: none;
    }
    .article12{
        display: none;
    }
}

@media (max-width:900px) {
    header h1{
        top: 22px;

        width: 160px;
        height: 32px;
    }
    .gnb li{
        padding: 0 6px;
    }
    .gnb a{
        font-size: 15px;
    }
    .gnb i{
        margin-right: 4px;
    }
}

@media (max-width:754px) {
    header h1{
        top: 22px;

    }
    .gnb li{
        padding: 0 2px;
    }
    .gnb a{
        font-size: 14px;
    }
    .gnb i{
        margin-right: 2px;
    }
}


/* 640px */
@media (max-width:640px) {      /* section 2등분 */
    header{
        height: 130px;
    }
    header h1{
        top: 22px;
        left: 50%;
        transform: translate(-50%);

        width: 200px;
        height: 40px;
    }

    .gnb{
        top: 95px;
        right: 0%;
        width: 100%;
        text-align: center;
    }
    .gnb ul{
        display: inline-block;
    }

    #util{
        display: none;
    }

    article{
        width: 50%;
    }

    .article1{
        height: 300px;
    }
    .article2{
        width: 100%;
    }
    .article4{
        display: none;
    }
    .article6{
        width: 50%;
    }
    .article9{
        width: 50%;
    }
    .article12{
        display: block;
    }

    
    .bg1 span{
        font-size: 100px;
        bottom: -22px;
    }
}

/* 500px */
@media (max-width:500px) {      /* 작은 모바일 */
    header{
        position: fixed;
        height: 100%;
        z-index: 100;
    }
    header h1{
        background-image: url('../img/logo1.png');
        top: 4vh;
        left: 50%;
        width: calc(5vw + 150px);
        height: calc(5vw + 100px);
        transform: translate(-50%);
    }

    .gnb{
        top: 30vh;
        width: 100%;
        text-align: center;
    }
    .gnb li{
        float: none;
        padding: 3px 0;
    }
    .gnb li a{
        display: block;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        line-height: 40px;
        width: 60vw;
        border-radius: 8px;
    }
    .gnb li a:hover{
        background-color: rgba(0, 0, 0, 0.8);
        transform: scale(1.1);
        color: #fff;
    }

    article, .article12{
        display: none;
    }
    .article1{
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
    }
}